@media screen and (min-width: 360px) and (max-width: 450px)  {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;

}

.section1{
    width: 100.5%;
    height: 153vw;
    position: relative;
    background: linear-gradient(to bottom, #000000 27%, #353535 100%);
} 


.back_stone1{
    margin-left: -50vw;
    position: absolute;
    width: 200vw; 
    animation: back_stone1 4s linear infinite;
}

.back_stone2{
    margin-left: -50vw;
    position: absolute;
    width: 200vw;
    animation: back_stone2 4s linear infinite;
}

.back_stone3{
    margin-left: -50vw;
    position: absolute;
    width: 200vw; 
    animation: back_stone3 5s linear infinite;
}

.oskolok1{
    margin-left: 0;
    position: absolute;
    margin-top: 45%;
    animation: move_osk_1 2s linear infinite;
}

.oskolok2{
    margin-left: 0%;
    position: absolute;
    margin-top: 34%;
    height: auto;
    animation: move_osk_2 2s linear infinite;
}


.oskolok3{
    margin-left: -8%;
    position: absolute;
    margin-top: 15%;
    height: auto;
    animation: move_osk_3 2s linear infinite;
    
}

.oskolok4{
    margin-top: 0%;
    margin-left: -8%;
    position: absolute;
    height: auto;
    animation: move_osk_4 2s linear infinite;
}

.oskolok5{
    margin-top: 0%;
    margin-left: 12%;
    position: absolute;
    height: auto;
    animation: move_osk_5 2s linear infinite;
}

.oskolok6{
    margin-top: 0%;
    margin-left: 13%;
    position: absolute;
    animation: move_osk_6 2s linear infinite;
}

.oskolok7{
    margin-top: -4%;
    margin-left: 57%;
    position: absolute;
    animation: move_osk_7 2s linear infinite;
}

.oskolok8{
    margin-top: 0%;
    margin-left: 74%;
    position: absolute;
    animation: move_osk_8 2s linear infinite;
}

@keyframes move_osk_8 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px)}
    100% {transform: translateY(1px)}
    100% {transform: translateY(0)}
}

.oskolok9{
    margin-top: 12%;
    margin-left: 80%;
    position: absolute;
    animation: move_osk_9 2s linear infinite;
}

.oskolok10{
    margin-top: 15%;
    margin-left: 77%;
    position: absolute;
    animation: move_osk_10 2s linear infinite;
}

.oskolok11{
    margin-top: 40%;
    margin-left: 75%;
    position: absolute;
    animation: move_osk_11 2s linear infinite;
}

.oskolok1 { width: 30vw; }
.oskolok2 { width: 32vw; }
.oskolok3 { width: 40vw; }
.oskolok4 { width: 35vw; }
.oskolok5 { width: 33vw; }
.oskolok6 { width: 40vw; }
.oskolok7 { width: 28vw; }
.oskolok8 { width: 35vw; }
.oskolok9 { width: 38vw; }
.oskolok10 { width: 40vw; }
.oskolok11 { width: 40vw; }

/* Мусор 1 */
.mov_cont_piece1 {
  margin-top: 103%;
  left: -4.51vw;
  width: 33.33vw;
  position: absolute;
  animation: move_piece1 23s linear infinite;
  pointer-events: visible;
  
}

.piece1, .hover_piece1 {
  position: absolute;
  width: 33.33vw;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  
}

.piece1 { 
  opacity: 1;
}
.hover_piece1 {
  opacity: 0;
}
.mov_cont_piece1:hover .piece1 {
  opacity: 0;
}
.mov_cont_piece1:hover .hover_piece1 {
  opacity: 1;
}



/* Мусор 2*/
.piece2 {
  position: absolute;
  object-fit: contain; 
  margin: 1% auto;
  margin-top: 105%;
  width: 32.5vw;
  animation: move_piece2 22.5s linear infinite;
  animation-delay: -1s;
}




/* Мусор 3*/
.mov_cont_piece3 {
  margin-top: 100%;
  position: absolute;
  animation: move_piece3 22.7s linear infinite;
  pointer-events: visible;
  animation-delay: -2.3s;
  width: 35.49vw;
  
}

.piece3, .hover_piece3 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  width: 35.49vw;
  
}

.piece3 { 
  opacity: 1;
}
.hover_piece3 {
  opacity: 0;
}
.mov_cont_piece3:hover .piece3 {
  opacity: 0;
}
.mov_cont_piece3:hover .hover_piece3 {
  opacity: 1;
}

/* Мусор 4*/
.mov_cont_piece4 {
  margin-top: 106%;
  position: absolute;
  pointer-events: visible;
  animation-delay: -4.65s;
  width: 31.46vw;
  animation: move_piece4 22.7s linear infinite;
  
}

.piece4, .hover_piece4 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  width: 31.46vw;
  
}

.piece4 { 
  opacity: 1;
}
.hover_piece4 {
  opacity: 0;
}
.mov_cont_piece4:hover .piece4 {
  opacity: 0;
}
.mov_cont_piece4:hover .hover_piece4 {
  opacity: 1;
}


/* Мусор 5*/
.piece5 {
  position: absolute;
  object-fit: contain; 
  margin: 1% auto;
  margin-top: 103%;
  width: 25.07vw;
  animation: move_piece5 21.9s linear infinite;
  animation-delay: -7.7s;
  display: none;
}


/* Мусор 6*/
.mov_cont_piece6 {
  margin-top: 106%;
  position: absolute;
  animation: move_piece6 21.9s linear infinite;
  width: 35.49vw;
  pointer-events: visible;
  animation-delay: -6s;
  
}

.piece6, .hover_piece6 {
  position: absolute;
  object-fit: contain; 
  width: 35.49vw;
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  
}

.piece6 { 
  opacity: 1;
}
.hover_piece6 {
  opacity: 0;
}
.mov_cont_piece6:hover .piece6 {
  opacity: 0;
}
.mov_cont_piece6:hover .hover_piece6 {
  opacity: 1;
}


/* Мусор 7*/
.mov_cont_piece7 {
  margin-top: 123%;
  width: 42.22vw;
  position: absolute;
  animation: move_piece7 21.7s linear infinite;
  pointer-events: visible;
  animation-delay: -9s;
  
}

.piece7, .hover_piece7 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  width: 42.22vw;
  pointer-events: visible;
  display: none;
  
}

.piece7 { 
  opacity: 1;
}
.hover_piece7 {
  opacity: 0;
}
.mov_cont_piece7:hover .piece7 {
  opacity: 0;
}
.mov_cont_piece7:hover .hover_piece7 {
  opacity: 1;
}

/* Мусор 9*/
.piece9 {
  position: absolute;
  object-fit: contain; 
  margin: 1% auto;
  width: 42.22vw;
  margin-top: 124%;
  animation: move_piece9 21.9s linear infinite;
  animation-delay: -11s;
} 

/* Мусор 10*/
 .piece10 {
  position: absolute;
  object-fit: contain; 
  margin: 1% auto;
  margin-top: 104%;
  width: 33.33vw;
  animation: move_piece10 21s linear infinite;
  animation-delay: -7.6s;
  display: none;
}

/* Мусор 11*/
.mov_cont_piece11 {
  margin-top: 100%;
  position: absolute;
  width: 33.33vw;
  animation: move_piece11 19.5s linear infinite;
  pointer-events: visible;
  animation-delay: -14s;
  
} 

.piece11, .hover_piece11 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  width: 33.33vw;
  pointer-events: visible;
  
}

.piece11 { 
  opacity: 1;
}
.hover_piece11 {
  opacity: 0;
}
.mov_cont_piece11:hover .piece11 {
  opacity: 0;
}
.mov_cont_piece11:hover .hover_piece11 {
  opacity: 1;
}

/* Мусор 12*/
.mov_cont_piece12 {
  margin-top: 108%;
  position: absolute;
  width: 30.35vw;
  animation: move_piece12 20.2s linear infinite;
  pointer-events: visible;
  animation-delay: -15s;
  display: none;
  
} 

.piece12, .hover_piece12 {
  position: absolute;
  object-fit: contain; 
  width: 30.35vw;
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  
}

.piece12 { 
  opacity: 1;
}
.hover_piece12 {
  opacity: 0;
}
.mov_cont_piece12:hover .piece12 {
  opacity: 0;
}
.mov_cont_piece12:hover .hover_piece12 {
  opacity: 1;
}


/* Мусор 13*/
.mov_cont_piece13 {
  margin-top: 108%;
  position: absolute;
  width: 25.14vw;
  animation: move_piece13 19.5s linear infinite;
  pointer-events: visible;
  animation-delay: -14.5s;
  display: none;
  
}

.piece13, .hover_piece13 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  width: 25.14vw;
  
}

.piece13 { 
  opacity: 1;
}
.hover_piece13 {
  opacity: 0;
}
.mov_cont_piece13:hover .piece13 {
  opacity: 0;
}
.mov_cont_piece13:hover .hover_piece13 {
  opacity: 1;
}

/* Мусор 14 */
.mov_cont_piece14 {
  margin-top: 128%;
  width: 42.22vw;
  position: absolute;
  animation: move_piece14 19.5s linear infinite;
  pointer-events: visible;
  animation-delay: -16.5s;
  
}

.piece14, .hover_piece14 {
  position: absolute;
  width: 42.22vw;
  object-fit: contain; 
  transition: opacity 0.01s ease;
  margin: 1% auto;
  pointer-events: visible;
  
}

.piece14 { 
  opacity: 1;
}
.hover_piece14 {
  opacity: 0;
}
.mov_cont_piece14:hover .piece14 {
  opacity: 0;
}
.mov_cont_piece14:hover .hover_piece14 {
  opacity: 1;
}

.section2{
    width: 100%;
    height: 259.2vw;
    position: relative;
    background-size: 100%;
}

.background_s2{
    width: 101%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
    object-fit: cover; 
}

.ground_back1{
    width: 200%;
    position: absolute;
    margin-left: -1%;
    margin-top: 130%;
    pointer-events: none;
}

.trash_back{
    width: 250%;
    position: absolute;
    margin-top: 100%; 
    opacity: 45%;
    pointer-events: none;
}



.cursor {
    position: absolute;
    margin-top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11.5vw;
    border-right: 0.138vw solid rgba(255, 255, 255, 0.928);
    font-size: 6.5vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: "Inter_LightItalic";
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.138vw;
}


.typewriter-animation {
    animation: 
        typewriter 6s steps(15) infinite, 
        blinkingCursor 0.7s infinite;
}

.ground_back2{
    width: 156.83vw;
    position: absolute;
    margin-top: -9%;
    margin-left: 29%;
    pointer-events: none;
    animation: ground_piece2 5s linear infinite;
}

.trash_s2{
    position: absolute;
    margin-top: -38%;
    width: 100.51vw;
    margin-left: 56%;
    pointer-events: none;
    animation: ground_piece2 5s linear infinite;
}

.enterprise{
    position: absolute;
    width: 70.25vw;
    margin-top: 50%;
    margin-left: 34%;
    pointer-events: none;
}

.enterprise2{
    position: absolute;
    margin-top: 55.3%;
    width: 34.17vw;
    margin-left: 72%;
    pointer-events: none;
}


.trash2_s2{
  position:absolute;
  top:-6.9vw;
  left: 65%;
  object-fit:contain;
  animation: fall_trash2 5s linear infinite;
  pointer-events:auto;
  cursor:pointer;
  width: 31.18vw;
}

.trash2_s2:hover{
  animation-play-state:paused;
}

.trash3_s2{
  position:absolute;
  top: -6.94vw;
  width: 13.07vw;
  left: 64%;
  object-fit:contain;
  animation: fall_trash3 5s linear infinite;
  animation-delay: 1.5s;
  pointer-events:auto;
  cursor:pointer;
}
.trash3_s2:hover{
  animation-play-state: paused;
}

.trash4_s2{
  position:absolute;
  top: -6.94vw;
  left: 73%;
  width: 14.28vw;
  object-fit:contain;
  animation: fall_trash4 5s linear infinite;
  animation-delay: 1s;
  pointer-events:auto;
  cursor:pointer;
}
.trash4_s2:hover{
  animation-play-state: paused;
}

.trash5_s2{
  position:absolute;
  top: -6.94vw;
  left:79%;
  width: 12.19vw;
  object-fit:contain;
  animation: fall_trash5 4s linear infinite;
  animation-delay: 1.4s;
  pointer-events:auto;
  cursor:pointer;
}
.trash5_s2:hover{
  animation-play-state: paused;
}

.trash6_s2{
  position:absolute;
  top: -6.94vw;
  left:79%;
  width: 24.38vw;
  object-fit:contain;
  animation: fall_trash6 8s linear infinite;
  animation-delay: 1s;
  pointer-events:auto;
  cursor:pointer;
}

.trash6_s2:hover{
  animation-play-state: paused;
}

.trash7_s2{
  position:absolute;
  top: -6.94vw;
  left: 68%;
  width: 20.21vw;
  object-fit:contain;
  animation: fall_trash7 5s linear infinite;
  animation-delay: 3s;
  pointer-events:auto;
  cursor:pointer;
}
.trash7_s2:hover{
  animation-play-state: paused;
}

.trash8_s2{
  position:absolute;
  top: -6.94vw;
  left: 70%;
  width: 16.21vw;
  object-fit:contain;
  animation: fall_trash8 7s linear infinite;
  animation-delay: 1s;
  pointer-events:auto;
  cursor:pointer;
}
.trash8_s2:hover{
  animation-play-state: paused;
}

.trash9_s2{
  position:absolute;
  top: -6.94vw;
  left: 69%;
  width: 20.03vw;
  object-fit:contain;
  animation: fall_trash9 6s linear infinite;
  animation-delay: 1s;
  pointer-events:auto;
  cursor:pointer;
}
.trash9_s2:hover{
  animation-play-state: paused;
}

.trash10_s2{
  position:absolute;
  top: -6.94vw;
  left:64%;
  width: 23.39vw;
  object-fit:contain;
  animation: fall_trash10 5s linear infinite;
  animation-delay: 0s;
  pointer-events:auto;
  cursor:pointer;
}
.trash10_s2:hover{
  animation-play-state: paused;
}

.trash11_s2{
  position:absolute;
  top: -6.94vw;
  left:70%;
  width: 15.64vw;
  object-fit:contain;
  animation: fall_trash11 7s linear infinite;
  animation-delay: 1.4s;
  pointer-events:auto;
  cursor:pointer;
}
.trash11_s2:hover{
  animation-play-state: paused;
}

.trash12_s2{
  position:absolute;
  top: -6.94vw;
  left:74%;
  width: 15.63vw;
  object-fit:contain;
  animation: fall_trash12 8s linear infinite;
  animation-delay: 1s;
  pointer-events:auto;
  cursor:pointer;
}
.trash12_s2:hover{
  animation-play-state: paused;
}

.trash13_s2{
  position:absolute;
  top: -6.94vw;
  left:79%;
  width: 20.42vw;
  object-fit:contain;
  animation: fall_trash13 5s linear infinite;
  animation-delay: 2s;
  pointer-events:auto;
  cursor:pointer;
}
.trash13_s2:hover{
  animation-play-state: paused;
}

@keyframes fall_trash2{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash3{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(360deg);opacity:1;}
88%{transform:translate(0,44vh) rotate(360deg);opacity:1;}
89%{transform:translate(0,44vh) rotate(360deg);opacity:1;}
90%{transform:translate(-1.39vw,44.5vh) rotate(360deg);opacity:1;}
92%{transform:translate(-4.17vw,45vh) rotate(360deg);opacity:0.9;}
94%{transform:translate(-8.33vw,46vh) rotate(360deg);opacity:0.7;}
96%{transform:translate(-13.89vw,47vh) rotate(360deg);opacity:0.5;}
98%{transform:translate(-20.83vw,48vh) rotate(360deg);opacity:0.2;}
99%{transform:translate(-24.31vw,48.5vh) rotate(360deg);opacity:0.1;}
100%{transform:translate(-26.39vw,49vh) rotate(360deg);opacity:0;}
}

@keyframes fall_trash4{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash5{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash6{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash7{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash8{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash9{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash10{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.5;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash11{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash12{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash13{
0%{transform:translate(0,-4.17vw) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,30vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,40vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,40vh) rotate(180deg);opacity:1;}
84%{transform:translate(-2.78vw,41vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-8.33vw,42.5vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-15.28vw,44.5vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-22.22vw,47vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
100%{transform:translate(-26.39vw,49.5vh) rotate(180deg);opacity:0;}
}

.cursor2 {
    position: absolute;
    z-index: 6;
    margin-top: 34%; /* 17% + 80% */
    left: 34%;
    transform: translate(-50%, -50%);
    width: 12em;
    border-right: 0.138vw solid rgba(255, 255, 255, 0.928);
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: "Inter_LightItalic";
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.138vw;
}

.water_group1{
    opacity: 1;
}

.truba1{
    position: absolute;
    margin-top: 121%; 
    margin-left: -15%;
    z-index: 100;
    width:30.33vw;
    cursor: pointer;
}

.truba1:hover ~ .water_group1 {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.truba2{
    position: absolute;
    margin-top: 113.3%; 
    margin-left: -18%;
    cursor: pointer;
    width: 58.21vw;
    pointer-events: auto;
}

.truba2:hover + .water_group2 {
    transition: opacity 0.3s ease;
    opacity: 0;
}


.truba3{
    position: absolute;
    margin-top: 119.5%; 
    margin-left: 0%;
    cursor: pointer;
    width: 73.4vw;
}

.water_group2{
    opacity: 1;
}


.water1{
    position: absolute;
    margin-top: 148.65%;
    margin-left: 13.6%;
    width: 55vw;
    z-index: 3;
}

.water2{
    position: absolute;
    margin-top: 136.3%; 
    margin-left: 35.5%;
    z-index: 3;
    width: 59.88vw;
}

.water3{
    position: absolute;
    margin-top: 140.1%; 
    margin-left: 67.4%;
    width: 28.62vw;
    z-index: 3;
}

.water4{
    position: absolute;
    margin-top: 200.9%; 
    margin-left: -6%;
    width: 180%;
    z-index: 5;
}

.wave1{
    position: absolute;
    margin-top: 151.7%; 
    margin-left: 14.9%;
    width: 27.88vw;
    animation: wave1 0.7s linear infinite;
    z-index: 4;
}

.wave2{
    position: absolute;
    margin-top: 155.4%;
    margin-left: 21.9%;
    width: 13.54vw;
    animation: wave1 1.2s linear infinite;
    z-index: 4;
}

.wave3{
    position: absolute;
    margin-top: 170%; 
    width: 14.56vw;
    margin-left: 33.4%;
    animation: wave3 0.7s linear infinite;
    z-index: 4;
}

.wave4{
    position: absolute;
    margin-top: 180.4%; 
    margin-left: 35.5%;
    width: 20.01vw;
    animation: wave3 1.2s linear infinite;
    z-index: 4;
}

.wave5{
    position: absolute;
    margin-top: 178%; 
    margin-left: 34.3%;
    width: 13.82vw;
    animation: wave5 0.8s linear infinite;
    z-index: 4;
}

.wave6{
    position: absolute;
    margin-top: 180%; 
    margin-left: 36%;
    width: 23.86vw;
    animation: wave3 1s linear infinite;
    z-index: 4;
}

.wave7{
    position: absolute;
    margin-top: 135.2%; 
    margin-left: 38.4%;
    width: 23.58vw;
    animation: wave1 0.7s linear infinite;
    z-index: 4;
}

.wave8{
    position: absolute;
    margin-top: 136.7%; 
    margin-left: 42.4%;
    width: 21.9vw;
    animation: wave1 1.2s linear infinite;
    z-index: 4;
}

.wave9{
    position: absolute;
    margin-top: 164.3%; 
    margin-left: 52.4%;
    width: 34.39vw;
    animation: wave3 0.7s linear infinite;
    z-index: 4;
}

.wave10{
    position: absolute;
    margin-top: 169.7%;
    margin-left: 57.9%;
    width: 30.82vw;
    animation: wave3 1.2s linear infinite;
    z-index: 4;
}

.wave11{
    position: absolute;
    margin-top: 160%; 
    margin-left: 71%;
    width: 5.01vw;
    animation: wave3 1.2s linear infinite;
    z-index: 4;
}

.wave12{
    position: absolute;
    width: 3.64vw;
    margin-top: 160%; 
    margin-left: 74%;
    animation: wave3 0.7s linear infinite;
    z-index: 4;
}

.wave13{
    position: absolute;
    margin-top: 142.7%;
    margin-left: 69.9%;
    width: 10.97vw;
    animation: wave3 1.2s linear infinite;
    z-index: 10;
}

.wave14{
    position: absolute;
    margin-top: 150%;
    margin-left: 68%;
    width: 19.43vw;
    animation: wave3 1.2s linear infinite;
    z-index: 10;
    display: none;
}

.wave15{
    position: absolute;
    width: 9.375vw;
    margin-top: 48%;
    margin-left: 41.8%;
    animation: wave4 0.7s linear infinite;
    display: none;
}

.pena1{
    position: absolute;
    margin-top: 207%; 
    z-index: 1000;
    width: 75.65vw;
    margin-left: 25%;
    animation: pena1 4s linear infinite;
    z-index: 7;
    
}

.pena2{
    position: absolute;
    z-index: 1000;
    margin-top: 209.4%;
    margin-left: 20%;
    width: 78.1vw;
    animation: pena2 4s linear infinite;
    z-index: 7;
}

.back_water2{
    position: absolute;
    width: 100vw;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 210%; 
    z-index: 1;     
    pointer-events: none;
    animation: back_water2 4s linear infinite;
}

.back_water1{
    position: absolute;
    width: 100vw;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 210%;
    z-index: 2;     
    pointer-events: none;
    animation: back_water2 3s linear infinite;
}


.section3{
    width: 100vw;
    height: 80.3vw;
    position: relative;

}

.welcome{
    position: absolute;
    margin-top: 242%;
    left: 20%;
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: "Inter_LightItalic";
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.138vw;
    z-index: 60;
}


.cursor3 {
    position: absolute;
    margin-top: 250%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 58vw;
    border-right: 0.138vw solid rgba(255, 255, 255, 0.928);
    font-size: 4vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-family: "Inter_LightItalic";
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.138vw;
    z-index: 300;
}


.typewriter-animation3 {
    animation: 
        typewriter3 14s steps(30) infinite, 
        blinkingCursor 0.7s infinite;
}

@keyframes typewriter3 {
    0% {width: 0;}
    25% {width: 58vw;}
    60% {width: 58vw;}
    85% { width: 0;}
    100% {width: 0;}
}


.section4{
    width: 100vw;
    height: 90vw;
    position: relative;
}

.background3{
    width: 100%;
    position: absolute;
    margin-top: -1%;
    pointer-events: none;
    z-index: 3;
}

.after_pena{
    width: 8vw;
    height: 30vw;
    margin-left: 5%;

}

.after_pena1{
    position: absolute;
    z-index: 5; 
    width: 10.21vw;
    margin-top: 220%;
    margin-left: 20%;
    animation: after_pena1 3s linear infinite;
}

.after_pena1:hover{
  animation-play-state:paused;
}

.after_pena2{
    position: absolute;
    z-index: 6;
    width: 2.57vw;
    margin-top: 220%;
    margin-left: 30%;
    animation: after_pena2 6s linear infinite;
}

.after_pena2:hover{
  animation-play-state:paused;
}

.after_pena3{
    position: absolute;
    z-index: 6;
    width: 10vw;
    margin-top: 220%;
    margin-left: 60%;
    animation: after_pena1 4s linear infinite;
}

.after_pena3:hover{
  animation-play-state:paused;
}

.after_pena4{
    position: absolute;
    z-index: 6;
    width: 2.22vw;
    margin-top: 220%;
    margin-left: 70%;
    animation: after_pena2 6s linear infinite;
}

.after_pena4:hover{
  animation-play-state:paused;
}

.after_pena5{
    position: absolute;
    z-index: 6;
    width: 5.76vw;
    margin-top: 220%;
    margin-left: 40%;
    animation: after_pena3 7s linear infinite;
}

.after_pena5:hover{
  animation-play-state:paused;
}

.after_pena6{
    position: absolute;
    z-index: 6;
    width: 2.29vw;
    margin-top: 220%;
    margin-left: 37%;
    animation: after_pena1 3s linear infinite;
}

.after_pena6:hover{
  animation-play-state:paused;
}

@keyframes after_pena1{
    0%{transform: translateY(0) rotate(0deg); opacity: 1;}
    50%{transform: translateY(25vh) rotate(120deg); opacity: 1;}
    80%{transform: translateY(35vh) rotate(160deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 0;}
}

@keyframes after_pena2{
    0%{transform: translateY(0) rotate(0deg); opacity: 1;}
    50%{transform: translateY(25vh) rotate(80deg); opacity: 1;}
    80%{transform: translateY(35vh) rotate(110deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 0;}
}

@keyframes after_pena3{
    0%{transform: translateY(0) rotate(0deg); opacity:1;}
    40%{transform: translateY(25vh) rotate(80deg); opacity: 0.2;}
    70%{transform: translateY(35vh) rotate(110deg); opacity: 0;}
    80%{transform: translateY(35vh) rotate(110deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 0;}
}


.gallery{
    position: absolute;
    z-index: 6;
    width: 150vw;
    margin-top: 0%;
    margin-left: -25vw;
}

.purple_1{
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 25%;
    animation: purple1 3s linear infinite;
}

.purple_2{
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 30%;
    animation: purple1 3s linear infinite;
}

.purple_3{
    position: absolute;
    z-index: 5;
    width: 265%;
    margin-top: 34.65%;
    animation: purple1 3s linear infinite;
}

.background4{
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 105.7%;
    object-fit: cover;
    
}

.path{
    position: absolute;
    margin-top: 6.2%;
    margin-left: -30%;
    width: 100.35vw;
    pointer-events: none;
    z-index: 4;
}

.sled1{
    position: absolute;
    width: 18.1vw;
    margin-top: 32%;
    margin-left: 1%;
    pointer-events: none;
    z-index: 5;
    animation: sled-fade 6s infinite;
}

.sled2{
    position: absolute;
    margin-top: 23%;
    width: 15.6vw;
    margin-left: 1.5%;
    pointer-events: none;
    z-index: 6;
    animation: sled-fade 6s infinite;
}

.sled3{
    position: absolute;
    margin-top: 22%;
    margin-left: 21%;
    width: 13vw;
    pointer-events: none;
    z-index: 6;
    animation: sled-fade 6s infinite;
}

.sled4{
    position: absolute;
    margin-top: 16%;
    margin-left: 25%;
    pointer-events: none;
    z-index: 6;
    width: 10vw;
    animation: sled-fade 6s infinite;
}

.sled5{
    position: absolute;
    margin-top: 14.5%;
    margin-left: 38%;
    pointer-events: none;
    z-index: 6;
    width: 9vw;
    animation: sled-fade 6s infinite;
}

.sled6{
    position: absolute;
    margin-top: 7.5%;
    margin-left: 60%;
    pointer-events: none;
    z-index: 6;
    width: 6vw;
    animation: sled-fade 6s infinite;
    display: none;
}

.sled7{
    position: absolute;
    margin-top: 7.6%;
    margin-left: 40%;
    pointer-events: none;
    z-index: 6;
    width: 5vw;
    animation: sled-fade 6s infinite;
    display: none;
}

.sled8{
    position: absolute;
    margin-top: 6%;
    margin-left: 42%;
    pointer-events: none;
    z-index: 6;
    width: 3vw;
    animation: sled-fade 6s infinite;
    display: none;
}

.sled1 { animation-delay: 0s; }
.sled2 { animation-delay: 1s; }
.sled3 { animation-delay: 2s; }
.sled4 { animation-delay: 3s; }
.sled5 { animation-delay: 4s; }
.sled6 { animation-delay: 5s; }
.sled7 { animation-delay: 6s; }
.sled8 { animation-delay: 7s; }

.door{
  position:absolute;
  width: 14vw;
  margin-top: 64.5%;
  margin-left: 38.5%;
  z-index: 110;
}

.door1{
  position:absolute;
  width: 23vw;
  margin-top: 0%;
  margin-left: 0%;
  z-index: 110;
}

.door2{
  position:absolute;
  padding-top: 14%;
  width: 8.4vw;
  left:70%;
  object-fit:contain;
  animation: open_left 8s linear infinite;
  animation-delay: 0.7s;
  z-index: 110;
}

@keyframes open_right {
  0%,20%{left:85%;}
  40%,60%{left:117%;}
  80%,100%{left:85%;}
}

@keyframes open_left {
  0%,20%{left:20%;}
  40%,60%{left:-15.3%;}
  80%,100%{left:20%;}
}

.door3{
  position:absolute;
  padding-top: 14%;
  width: 8.4vw;
  left: 40%;
  object-fit:contain;
  animation: open_right 8s linear infinite;
  animation-delay: 0.7s;
  z-index: 110;
}

.door4{
  position:absolute;
  margin-left: 39.2%;
  width: 23.5vw;
  margin-top: 64.5%;
  z-index: 5000;
}

.wall_left{
    position: absolute;
    margin-top: 20%;
    margin-left: 34.2%;
    pointer-events: none;
    z-index: 120;
    width: 6.2vw;
}

.wall_right{
    position: absolute;
    margin-top: 20%;
    margin-left: 59.7%;
    pointer-events: none;
    z-index: 120;
    width: 6.2vw; 
}

.column1{
    position: absolute;
    margin-top: 11.8%;
    margin-left: 27%;
    pointer-events: none;
    z-index: 1000;
    width: 7.56vw;
}

.column2{
    position: absolute;
    margin-top: 11.8%;
    margin-left: 65.5%;
    pointer-events: none;
    z-index: 1000;
    width: 7.56vw;
}


.podval{
    position: absolute;
    margin-top: 46%;
    margin-left: -0.7%;
    pointer-events: none;
    z-index: 11;
    width: 101vw;
}

.podval2{
    position: absolute;
    margin-top: 69.3%;
    margin-left: 8.3%;
    z-index: 1000;
    width: 81.44vw;
}

.mini1{
    position: absolute;
    margin-top: 62.7%;
    margin-left: 50.5%;
    pointer-events: none;
    z-index: 900;
    width: 25.44vw;
    rotate: -30deg;
}

.mini2{
    position: absolute;
    margin-top: 54.7%;
    margin-left: 38.5%;
    pointer-events: none;
    z-index: 900;
    width: 20.44vw;
    transform-origin: center bottom;
    animation: leftSwayPlus2 3s ease-in-out infinite;
}

.mini3{
    position: absolute;
    margin-top: 58.7%;
    margin-left: 60.5%;
    pointer-events: none;
    z-index: 900;
    width: 12.44vw;
}

.mini4{
    position: absolute;
    margin-top: 58.7%;
    margin-left: 24.5%;
    pointer-events: none;
    z-index: 900;
    width: 17.44vw;
}

.mini5{
    position: absolute;
    margin-top: 50.7%;
    margin-left: 78.5%;
    pointer-events: none;
    z-index: 900;
    width: 12.44vw;
    transform-origin: center bottom;
    animation: rightSwayPlus 3s ease-in-out infinite;

}


.window1{
  margin-top: 25.99%;
  margin-left: 10.55%;
  position: absolute;  
  z-index: 7;
  width: 2.78vw;
  display: none;
}

.window_dark, .window_light {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.7s ease;
  margin: 1% auto;
  z-index: 8;
  pointer-events: none; 
  width: 2.78vw;
  display: none;
  
}

.window_dark { 
  opacity: 1;
}
.window_light {
  opacity: 0;
}
.window1:hover .window_dark {
  opacity: 0;
}
.window1:hover .window_light {
  opacity: 1;
}


.window3{
  margin-top: 25.99%;
  margin-left: 85.67%;
  position: absolute;  
  z-index: 7;
  width: 2.78vw;
  display: none;
}

.window_dark3, .window_light3 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.7s ease;
  margin: 1% auto;
  pointer-events: visible;
  width: 2.78vw;
  display: none;
  
}

.window_dark3 { 
  opacity: 1;
}
.window_light3 {
  opacity: 0;
}
.window3:hover .window_dark3 {
  opacity: 0;
}
.window3:hover .window_light3 {
  opacity: 1;
}

.window2{
  margin-top: 39.58%;
  margin-left: 10.2%;
  position: absolute;  
  z-index: 7;
  width: 2.78vw;
  display: none;
}

.window_dark2, .window_light2 {
  position: absolute;
  object-fit: contain; 
  transition: opacity 0.7s ease;
  margin: 1% auto;
  pointer-events: visible;
  width: 2.78vw;
  display: none;
  
}

.window_dark2 { 
  opacity: 1;
}
.window_light2 {
  opacity: 0;
}
.window2:hover .window_dark2 {
  opacity: 0;
}
.window2:hover .window_light2 {
  opacity: 1;
}

.gallery_glass{
  position: absolute;
  width: 20.8vw;
  margin-top: 20%;
  margin-left: 39.5%;
  z-index: 6;
}

.glass1{
  position: absolute;
  width: 3vw;
  margin-top: 0%;
  margin-left: -7%;
  pointer-events: visible; 
  z-index: 7;
  transition: margin-left 0.5s ease;
  display: none;
}

.glass1:hover {
  margin-left: -2%;
  pointer-events: auto; 
}

.glass2{
  position: absolute;
  width: 37vw;
  margin-top: 0%;
  margin-left: -11%;
  z-index: 8;
  pointer-events: visible; 
  transition: margin-left 0.5s ease;
}

.glass2:hover {
  margin-left: -2%;
}

.flowers_group1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6%;
  left: 0;
  z-index: 7; 
  pointer-events: none;
}

.glass3{
  position: absolute;
  width: 90vw;
  margin-top: 30%;
  margin-left: 32%;
  z-index: 7;
  pointer-events: visible;
  transition: margin-right 0.5s ease;
}

.glass3:hover {
  margin-right: 2%;
}

.glass4{
  position: absolute;
  width: 80vw;
  margin-top: 25%;
  margin-left: 35%;
  z-index: 7;
}

.glass5{
  position: absolute;
  width: 70vw;
  margin-top: 17%;
  margin-left: 56%;
  z-index: 7;
}

.glass6{
  position: absolute;
  width: 70vw;
  margin-top: 13%;
  margin-left: 45%;
  z-index: 7;
  pointer-events: visible;
  transition: margin-right 0.5s ease;
}

.glass6:hover {
  margin-right: 2%;
}

.glass7{
  position: absolute;
  width: 60vw;
  margin-top: 10%;
  margin-left: 80%;
  z-index: 30;
  pointer-events: visible;
  transition: margin-right 0.5s ease;
}

.glass7:hover {
  margin-right: 2%;
}

.glass8{
  position: absolute;
  width: 30vw;
  margin-top: 6%;
  margin-left: 85%;
  z-index: 7;
}

.flower1{
  position: absolute;
  width: 2vw;
  margin-top: -2%;
  margin-left: 13%;
  z-index: 8;
  pointer-events: none;
}

.flower_1 {
  position: absolute;
  width: 13vw;
  margin-top: -11%;
  margin-left: 10%;
  z-index: 8;
  pointer-events: auto;
  transform-origin: center center;
  animation: intenseSway 3s ease-in-out infinite;
  transition: transform 2s linear; 
}

.flower_1:hover {
  animation: intenseSway 3s ease-in-out infinite,
    spinCenter 2s linear infinite;
}



.flower2 {
  position: absolute;
  width: 15.8vw;
  margin-top: -11.8%;
  margin-left: 0%;
  z-index: 8;
  pointer-events: none;
  transform-origin: center bottom;
  animation: leftSwayPlus 4s ease-in-out infinite;
}


.flower3 {
  position: absolute;
  width: 13.19vw;
  margin-top: -30%;
  margin-left: 3%;
  z-index: 8;
  pointer-events: none;
  transform-origin: center bottom;
  animation: intenseSway 5s ease-in-out infinite;
}


.flower4{
  position: absolute;
  width: 13.36vw;
  margin-top: -25%;
  margin-left: 0%;
  z-index: 6;
  pointer-events: none;
  transform-origin: center bottom;
  animation: leftSwayPlus 3s ease-in-out infinite;
}

.flower5{
  position: absolute;
  width: 9.9vw;
  margin-top: 56%;
  margin-left: 43%;
  pointer-events: none;
  z-index: 121;
}

.flower_5{
  position: absolute;
  width: 14.5vw;
  margin-top: calc(29% + 20vw - 1.7vw);
  margin-left: 36%;
  pointer-events: visible;
  z-index: 125;
  transform-origin: center center;
  animation: intenseSway 3s ease-in-out infinite;
  transition: transform 2s linear; 
}

.flower_5:hover {
  animation: spinCenter 2s linear infinite;
}

.flower6{
  position: absolute;
  width: 26.38vw;
  margin-top: 46%;
  margin-left: 26%;
  pointer-events: none;
  z-index: 1200;
  transform-origin: center bottom;
  animation: leftSwayPlus2 6s ease-in-out infinite;
}

.flower7{
  position: absolute;
  width: 12.49vw;
  margin-top: 43%;
  margin-left: 36%;
  pointer-events: none;
  z-index: 1200;
  transform-origin: center bottom;
  animation: leftSwayPlus2 3s ease-in-out infinite;
}

.flower8{
  position: absolute;
  width: 19.71vw;
  margin-top: 33%;
  margin-left: 36%;
  pointer-events: none;
  z-index: 124;
  transform-origin: center bottom;
  animation: intenseSway2 7s ease-in-out infinite;
}

.flower9{
  position: absolute;
  width: 14.57vw;
  margin-top: 29%;
  margin-left: 50%;
  pointer-events: none;
  z-index: 1201;
  transform-origin: center bottom;
  animation: intenseSway 6s ease-in-out infinite;
}

.flower10{
  position: absolute;
  width: 32.63vw;
  margin-top: 34%;
  margin-left: 47%;
  pointer-events: none;
  z-index: 125;
  transform-origin: center bottom;
  animation: intenseSway2 4s ease-in-out infinite;
}

.flower11{
  position: absolute;
  width: 5.75vw;
  margin-top: 47%;
  margin-left: 53%;
  pointer-events: none;
  z-index: 125;
}

.flower_11{
  position: absolute;
  width: 14.56vw;
  margin-top: calc(23.9% + 20vw - 3.7vw);
  margin-left: 50%;
  pointer-events: visible;
  z-index: 226;
  transform-origin: center center;
  animation: intenseSway 3s ease-in-out infinite;
  transition: transform 4s linear; 
}

.flower_11:hover {
  animation: spinCenter2 4s linear infinite;
}

.flowers_group3{
  margin-left: 74%;
  width: 70vw;
  height: 30vw;
  position: absolute;
  z-index: 300;
}

.flower12{
  position: absolute;
  width: 23.4vw;
  margin-top: 52.5%;
  margin-left: 57%;
  pointer-events: none;
  z-index: 1205;
  transform-origin: left bottom;
  animation: leftSwayPlus2 4s ease-in-out infinite;
}

.flower13 {
  position: absolute;
  width: 18.19vw;
  transform: scale(-1);
  margin-top: -16%;
  margin-left: -8%;
  z-index: 8;
  pointer-events: none;
  transform-origin: center bottom;
  animation: intenseSway 4s ease-in-out infinite;
}

.flower14 {
  position: absolute;
  width: 20.19vw;
  transform: scale(-1);
  margin-top: 0%;
  margin-left: -20%;
  z-index: 200000;
  pointer-events: none;
  transform-origin: center bottom;
  animation: leftSwayPlus2 4s ease-in-out infinite;
}

.flower15 {
  position: absolute;
  width: 40.19vw;
  transform: scale(-1);
  margin-top: -20%;
  margin-left: 5%;
  z-index: 200000;
  pointer-events: none;
  transform-origin: center bottom;
  animation: leftSwayPlus2 4s ease-in-out infinite;
}

.flower16{
  position: absolute;
  width: 4vw;
  margin-top: 6%;
  margin-left: 13%;
  z-index: 8;
  pointer-events: none;
}

.flower_16 {
  position: absolute;
  width: 13vw;
  margin-top: 0%;
  margin-left: 10%;
  z-index: 8;
  pointer-events: auto;
  transform-origin: center center;
  animation: intenseSway 3s ease-in-out infinite;
  transition: transform 2s linear; 
}

.flower_16:hover {
  animation: intenseSway 3s ease-in-out infinite,
    spinCenter 2s linear infinite;
}







.avtor{
    position: absolute;
    margin-top: 47.75%;
    margin-left: 14%;
    z-index: 800;
    width: 30.78vw;
    animation: avtor 6s linear infinite;
}

.avtor_text{
    position: absolute;
    margin-top: 51vw;
    margin-left: 18.7vw;
    z-index: 801;
    font-size: 1.6vw;
    animation: avtor 6s linear infinite;
    font-family: "Inter_Medium"; 
    font-style: normal;
}

.curator{
    position: absolute;
    margin-top: 47.75%;
    margin-left: 55.5vw;
    z-index: 800;
    width: 30.78vw;
    animation: curator 6s linear infinite;
}

.curator_text{
    position: absolute;
    margin-top: 51vw;
    margin-left: 60.6vw;
    z-index: 801;
    font-size: 1.6vw;
    animation: curator 6s linear infinite;
    font-family: "Inter_Medium"; 
    font-style: normal;
}




.flip-word {
  display: inline-block;
  perspective: 27.7vw;
  font-family: "Inter_Regular";
  font-size: 2.3vw;
  z-index: 801;
  position: absolute; 
  top: 60%; 
  left: 18.6%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  animation: avtor 6s linear infinite;
}

.flipper {
  position: relative;
  width: 100%;
  height: 2.78vw;
  transform-style: preserve-3d;
  animation: flipWord 5s infinite ease-in-out;
  z-index: 801;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: black;
  z-index: 30;
  display: flex;
  align-items: center;
}

.front {
  transform: rotateX(0deg);
  z-index: 30;
  justify-content: flex-start; 
}

.back {
  transform: rotateX(180deg);
  z-index: 30;
  justify-content: flex-start; 
}





.flip-word2 {
  display: inline-block;
  perspective: 27.7vw;
  font-family: "Inter_Regular";
  font-size: 2.3vw;
  z-index: 801;
  position: absolute; 
  top: 60%; 
  left: 60.7%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  animation: curator 6s linear infinite;
}

.flipper2 {
  position: relative;
  width: 100%;
  height: 2.78vw;
  transform-style: preserve-3d;
  animation: flipWord 5s infinite ease-in-out;
  z-index: 801;
}

.front2, .back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: black;
  z-index: 31;
  display: flex;
  align-items: center;
}

.front2 {
  transform: rotateX(0deg);
  z-index: 31;
  justify-content: flex-start; 
}

.back2 {
  transform: rotateX(180deg);
  z-index: 31;
  justify-content: flex-start; 
}
}

@media screen and (min-width: 451px) and (max-width: 768px) {
/* планшет мини */
}


@media screen and (min-width: 769px) and (max-width:  1366px) {
/*  планшет про */
}

@media screen and (min-width:  1366px) and (max-width: 1440px) {
/* маленькие ноуты */
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
/* desctop */
}
