@media screen and (min-width: 360px) and (max-width: 450px)  {
/*  мобилка  */
}

@media screen and (min-width: 451px) and (max-width: 768px) {
/* планшет мини */
}


@media screen and (min-width: 769px) and (max-width:  1366px) {
/*  планшет про */
}

@media screen and (min-width:  1366px) and (max-width: 1440px) {
/* маленькие ноуты */
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
/* desctop */
}


