@keyframes back_stone1{
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

@keyframes back_stone2{
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0px);}
}

@keyframes back_stone3{
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

@keyframes move_osk_1 {
    0% {transform: translateX(0);}
    50% {transform: translateX(-20px);}
    100% {transform: translateX(30px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_2 {
    0% {transform: translateX(0);}
    50% {transform: translateX(-40px);}
    100% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_3 {
    0% {transform: translateX(0);}
    50% {transform: translateX(-50px);}
    100% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_4 {
    0% {transform: translateX(0);}
    50% {transform: translateX(-53px);}
    100% {transform: translateX(30px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_5 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px)}
    100% {transform: translateY(30px)}
    100% {transform: translateY(0)}
}

@keyframes move_osk_6 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-15px)}
    100% {transform: translateY(-20px)}
    100% {transform: translateY(0)}
}

@keyframes move_osk_7 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px)}
    100% {transform: translateY(-50px)}
    100% {transform: translateY(0)}
}

@keyframes move_osk_8 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-40px)}
    100% {transform: translateY(-20px)}
    100% {transform: translateY(0)}
}

@keyframes move_osk_9 {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_10 {
    0% {transform: translateX(0);}
    50% {transform: translateX(40px);}
    100% {transform: translateX(-10px);}
    100% {transform: translateX(0px);}
}

@keyframes move_osk_11 {
    0% {transform: translateX(0);}
    50% {transform: translateX(40px);}
    100% {transform: translateX(-30px);}
    100% {transform: translateX(0px);}
}

@keyframes move_piece1 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece2 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece3 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece4 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece5 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece6 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece7 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece9 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece10 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece11 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece12 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece13 {
  0% {transform: translateX(-20px);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes move_piece14 {
  0% {transform: translateX(0);}
  100% {transform: translateX(calc(100vw + 100%));}
}

@keyframes typewriter {
    0% {width: 0;}
    25% {width: 4.5em;}
    60% {width: 4.5em;}
    85% { width: 0;}
    100% {width: 0;}
}

@keyframes blinkingCursor {
    0%, 100% {border-color: transparent;}
    50% {border-color: rgba(255, 255, 255, 0.75);}
}

@keyframes ground_piece2{
    0% {transform: translateX(0);}
    50% {transform: translateX(-80px);}
    100% {transform: translateX(0px);}
}






@keyframes fall_trash2{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash3{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(360deg);opacity:1;}
88%{transform:translate(0,88vh) rotate(360deg);opacity:1;}
89%{transform:translate(0,88vh) rotate(360deg);opacity:1;}
90%{transform:translate(-20px,89vh) rotate(360deg);opacity:1;}
92%{transform:translate(-60px,90vh) rotate(360deg);opacity:0.9;}
94%{transform:translate(-120px,92vh) rotate(360deg);opacity:0.7;}
96%{transform:translate(-200px,94vh) rotate(360deg);opacity:0.5;}
98%{transform:translate(-300px,96vh) rotate(360deg);opacity:0.2;}
99%{transform:translate(-350px,97vh) rotate(360deg);opacity:0.1;}
100%{transform:translate(-380px,98vh) rotate(360deg);opacity:0;}
}


@keyframes fall_trash4{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash5{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash6{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash7{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash8{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}


@keyframes fall_trash9{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.7;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash10{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.5;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash11{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash12{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes fall_trash13{
0%{transform:translate(0,-60px) rotate(0deg);opacity:0.6;}
60%{transform:translate(0,60vh) rotate(180deg);opacity:1;}
80%{transform:translate(0,80vh) rotate(180deg);opacity:1;} 
81%{transform:translate(0,80vh) rotate(180deg);opacity:1;}
84%{transform:translate(-40px,82vh) rotate(180deg);opacity:1;} 
88%{transform:translate(-120px,85vh) rotate(180deg);opacity:0.8;}
92%{transform:translate(-220px,89vh) rotate(180deg);opacity:0.5;} 
96%{transform:translate(-320px,94vh) rotate(180deg);opacity:0.2;} 
99%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
100%{transform:translate(-380px,99vh) rotate(180deg);opacity:0;}
}

@keyframes wave1{
    0% {transform: translateX(0) translateY(0);}
    50% {transform: translateX(10px) translateY(15px);}
    100% {transform: translateX(0px) translateY(0);}
}

@keyframes wave3{
    0% {transform: translateX(0) translateY(0);}
    50% {transform: translateX(5px) translateY(10px);}
    100% {transform: translateX(0px) translateY(0);}
}

@keyframes wave5{
    0% {transform: translateX(0) translateY(0);}
    50% {transform: translateX(5px) translateY(20px);}
    100% {transform: translateX(0px) translateY(0);}
}

@keyframes pena1{
    0% {transform: translateX(0);}
    25% {transform: translateX(25px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(-25px);}
    100% {transform: translateX(0px);}
}

@keyframes pena2{
    0% {transform: translateX(0);}
    25% {transform: translateX(-10px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(25px);}
    100% {transform: translateX(0px);}
}

@keyframes back_water2{
    0% {transform: translateY(0);}
    25% {transform: translateY(-15px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(25px);}
    100% {transform: translateY(0px);}
}

@keyframes after_pena1{
    0%{transform: translateY(0) rotate(0deg); opacity: 1;}
    50%{transform: translateY(40vh) rotate(120deg); opacity: 1;}
    80%{transform: translateY(55vh) rotate(160deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 0;}
}

@keyframes after_pena2{
    0%{transform: translateY(0) rotate(0deg); opacity: 1;}
    50%{transform: translateY(40vh) rotate(80deg); opacity: 1;}
    80%{transform: translateY(55vh) rotate(110deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 0;}
}

@keyframes curator{
    0% {transform: translateX(0);}
    25% {transform: translateX(1.7vw);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(-1.7vw);}
    100% {transform: translateX(0px);}
}

@keyframes avtor{
    0% {transform: translateX(0);}
    25% {transform: translateX(-1.7vw);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(1.7vw);}
    100% {transform: translateX(0px);}
}

@keyframes purple1{
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}


@keyframes sled-fade {
    0% { opacity: 0; }
    5% { opacity: 0.8; }
    15% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes open_right {
  0%,20%{left:51%;}
  40%,60%{left:78%;}
  80%,100%{left:51%;}
}

@keyframes open_left {
  0%,20%{left:12.3%;}
  40%,60%{left:-15.3%;}
  80%,100%{left:12.3%;}
}

@keyframes intenseSway {
  0%, 100% {transform: rotate(-2.5deg);}
  25% {transform: rotate(4deg);}
  50% {transform: rotate(-1deg);}
  75% {transform: rotate(3.5deg);}
}

@keyframes intenseSway2 {
  0%, 100% {transform: rotate(-2deg);}
  25% {transform: rotate(2deg);}
  50% {transform: rotate(-1deg);}
  75% {transform: rotate(2.5deg);}
}

@keyframes leftSwayPlus {
  0%, 100% {transform: rotate(0deg);}
  25% {transform: rotate(-4deg);}
  50% {transform: rotate(-1.5deg);}
  75% {transform: rotate(-6deg);}
}

@keyframes leftSwayPlus2 {
  0%, 100% {transform: rotate(0deg);}
  25% {transform: rotate(-2.5deg);}
  50% {transform: rotate(-0.8deg);}  
  75% {transform: rotate(-3.5deg);}  
}

@keyframes rightSwayPlus {
  0%, 100% {transform: rotate(0deg);}
  25% {transform: rotate(2.5deg);}
  50% {transform: rotate(0.8deg);}
  75% {transform: rotate(3.5deg);}
}


@keyframes spinCenter {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes spinCenter2 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes flipWord {
  0%, 45% {
    transform: rotateX(0deg);
  }
  50%, 95% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}