
@font-face {
    font-family: "Inter_Medium";
    src: url("../fonts/Inter_28pt-Medium.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter_LightItalic";
    src: url("../fonts/Inter-Italic.ttf") format("truetype");
    font-style: normal; 
    font-weight: 200;
    font-display: swap;
}