
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraLightItalic.woff") format("woff");
    font-weight: 200; 
    font-style: italic;
    font-display: swap;
}